@use "../../../src/components/Login/index.scss";

.lg-wechat-icon { display: block; flex: 0 0 auto; width: 21px; height: 21px; }
.lg-wechat-icon.small { width: 15px; height: 15px; }
.lg-switch { display: flex; align-items: center; justify-content: center; gap: 4px; }
